.icon{

    img{
      background-color: white;
      border-radius: 100%;
      padding: 1rem;
      width:100px;
      height:100px;
      image-rendering: auto;
      border: 2px solid black;
    }
margin-bottom: 1em;


}