//font families
$fontTitle: 'Roboto', sans-serif;
$fontBody: 'helvetica', sans-serif;
$fontLink: 'helvetica', sans-serif;
$fontSpecial: 'comic sans ms', sans-serif;


//font sizes
$fontSizeSmall: 0.8333em;
$fontSizeMedium: 1em;
$fontSizeLarge: 1.125em;
$fontSizeXLarge: 1.5em ;
$fontSizeXXLarge: 2em;


//colors

$maincolor: #000000;